.footer {
    @include flex(center, space-between, none);
    margin-top: 100px;
    padding: 20px;
    font-size: 12px;
    background-color: $light-green;

    .logo {
        flex: 1;
        img {
            height: 50px;
            // width: 120px;
        }
    }

    span {
        flex: 2;
        width: 60%;
        text-align: center;
    }
}
