.home {
    .posts {
        margin-top: 50px;
        @include flex(none, none, column);
        gap: 100px;

        .post {
            // @include flex (none, none, none);
            display: flex;
            gap: 100px;

            &:nth-child(2n + 1) {
                flex-direction: row-reverse;
            }

            .img {
                flex: 2;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $light-green;
                    top: 20px;
                    left: -20px;
                    z-index: -1;
                }

                img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                }
            }

            .content {
                flex: 3;
                @include flex(none, space-between, column);
            }

            h1 {
                font-style: 48px;
            }

            p {
                font-style: 18px;
            }

            button {
                width: max-content;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                background-color: #ffffff;
                border: 1px solid $light-green;
                color: teal;

                &:hover {
                    border: 1px solid #ffffff;
                    background-color: $light-green;
                    color: black;
                }
            }
        }
    }
}
