.auth {
    @include flex(center, center, column);
    height: 100vh;
    background-color: $light-green;

    h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
    }

    form {
        @include flex(none, none, column);
        padding: 10px;
        background-color: #ffffff;
        width: 200px;
        gap: 20px;

        input {
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }

        button {
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            cursor: pointer;
        }

        p {
            font-size: 12px;
            text-align: center;
            color: red;
        }
        span {
            font-size: 12px;
            @include flex(center, center, column);
        }
    }
}
