.menu {
    flex: 2;
    @include flex(none, none, column);
    gap: 25px;

    h1 {
        font-size: 20px;
        color: #0b0d2d;
    }

    .post {
        @include flex(none, none, column);
        gap: 10px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h2 {
            color: #555;
        }

        button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: solid 1px teal;

            &:hover {
                border: solid 1px white;
                background-color: $light-green;
                color: #0b0d2d;
            }

        }
    }
}