.single {
    @include flex(none, none, row);
    gap: 50px;

    .content {
        flex: 5;
        @include flex(none, none, column);
        gap: 50px;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .user {
            @include flex(center, none, row);
            gap: 10px;
            font-style: 14px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-weight: bold;
            }
        }

        .icon-crud {
            @include flex(none, none, row);
            gap: 5px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        h1 {
            font-size: 42px;
            color: #0b0d2d;
        }

        p {
            text-align: justify;
            line-height: 30px;
        }
    }
}