@import './mixins';
@import './variables';

@import './components/Navbar';
@import './components/Login';
@import './components/Footer';
@import './components/Home';
@import './components/Single.scss';
